header {
  width: 100%;
  height: 48px;
  position: fixed;
  top: 0;
  border-bottom: 1px solid #ecf0f1;
  background-color: #fff;
  box-shadow: 0 3px 16px -6px #bdc3c7;
  z-index: 10;
} // end of header

.first-header {
  @include tablet {
    display: none;
  }

  .container {
    height: 100%;
    display: flex;
    justify-content: space-between;

    .logo-img {
      width: 106px;
      height: auto;
    }

    .nav-icons {
      display: block;
  
      .search-icon,
      .menu-icon {
        display: inline-block;
        border-left: 1px solid #ecf0f1;
        padding: 13px;
      }

      .search-icon {
        color: #bdc3c7;
      }

      .menu-icon {
        color: #f42;
        font-size: 20px;
      }
    } // end of nav-icons
  } // end of container
} // end of first-header

.second-header {
  display: none;
  height: 82px;

  @include tablet {
    display: block;
  }

  .navbar {
    position: relative;
    height: 32px;
    background: #131313;
    font-size: 13px;
    font-weight: 500;

    ul {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding: 0 0 0 20px;
      margin: 0;

      li {
        display: inline-block;
        text-decoration: none;
        color: hsla(0,0%,100%,.6);
        padding-right: 10px;
      }
    }

    .right-links {
      left: 70%;

      @include tablet {
        left: 60%;
      }

      @include laptop {
        left: 72%;
      }

      @include large-laptop {
        left: 79%;
      }
    }
  } // end of navbar

  nav {
    height: 100%;
    display: flex;
    justify-content: space-between;

    ul {
      padding: 0 0 0 20px;

      li {
        text-decoration: none;
        display: inline-block;
        text-transform: uppercase;
        padding-right: 15px;
        color: #aaa;
        font-size: 14px;
        font-weight: 500;

        @include tablet {
          padding-right: 7px;
        }

        @include laptop {
          padding-right: 15px;
        }
      }
    }

    .nav-icons {
      ul {
        margin: 0;

        li {
          

          &:last-child {
            padding: 16px !important;
            border-left: 1px solid #ecf0f1;
          }
         
          i {
            font-size: 16px;
            color: #aaa
          }
        }
      }
    } // end of nav-icons
  } // end of nav
} // end of second-header


