.latest-news, 
.latest-deals {
  position: relative;
  margin: 0 auto;
  width: 90%;
  margin-top: 80px;

  @include tablet {
    width: 98%;
    margin-top: 140px;

    h1 {
      margin-left: 10px;
    }
  }

  @include large-laptop {
    width: 80%;
  }

  @include desktop {
    width: 60%;
  }
  
  article {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    img {
      width: 75px;
      height: 70px;

      @include tablet {
        display: block;
        width: 100%;
        height: 115px;
      }

      @include large-laptop {
        height: 135px;
      }
    }

    .content {
      margin: 0 20px 0 15px;

      @include tablet {
        margin: 0;
      }

      .title {
        font-size: 14px;
        font-weight: 700;
        font-weight: 900;

        @include tablet {
          margin: 10px 0 0 0;
        }

        @include laptop {
          font-size: 16px;
        }
      }

      span {
        font-size: 12px;
        display: block;
        padding-top: 10px;
        color: #aaa;
      }
    }
  }

  @include tablet {
    .container {
      display: flex;
      flex-wrap: wrap;

      article {
        width: 30.6%;
        display: inline-block;
        padding: 10px;

        @include laptop {
          width: 23%;
        }
      }
    } // end of container
  } // end of tablet
} // end of latest-news/latest deals

.latest-deals {
  @include tablet {
    img {
      height: 170px !important;
    }

    a {
      margin-right: 13px;
    }
  } // end of tablet

  @include large-laptop {
    img {
      height: 201px !important;
    }
  }
}



