.recent-articles {
  position: relative;
  top: 40px;
  width: 95%;
  margin: 0 auto;

  @include tablet {
    top: 75px;
    width: 100%;
  }

  article {
    .cover-image {
      position: relative;
      height: 192px;
      width: 100%;
      margin-top: 20px;
      background-repeat: no-repeat;
    }

    .content {
      position: absolute;
      left: 4px;
      right: 4px;
      bottom: 0;
      padding: 14px 12px;
      text-shadow: 0 1px 0 black;
      color: white;

      span {
        padding-right: 5px;
        font-size: 12px;
        color: hsla(0,0%,100%,.6);
      }

      h2 {
        margin: 0 5px 0 0;
        font-size: 20px;
        font-weight: 900;
      }

      h3 {
        margin-bottom: 0;
        font-weight: 500;
        font-size: 13px;
      }
    }
  } // end of article

  .main-article {
    @include tablet {
      width: 66%;
      height: 100%;
      padding-left: 7px;

      .cover-image {
        height: 339px;

        h2 {
          font-size: 40px;
        }
      }
    }
  }

  .first-article {
    @include tablet {
      position: absolute;
      width: 31%;
      top: -20px;
      right: 7px;

      .cover-image {
        height: 165px;

        .content {
          padding: 14px 10px;
        }

        h2 {
          font-size: 14px;
          font-weight: 900;
        }

        span {
          font-size: 10px;
        }
      }
    }
  }

  .second-article {
    @include tablet {
      position: absolute;
      width: 31%;
      right: 7px;
      bottom: 0;

      .cover-image {
        height: 165px;
        margin: 0;
        
        .content {
          padding: 14px 10px;
        }

        h2 {
          font-size: 14px;
          font-weight: 900;
        }

        span {
          font-size: 10px;
        }
      }
    }
  }
} // end of recent-articles
