.heading-decoration {
  font-size: 26px;
  color: #f42;
}

.red {
  color: #f42;
}

.light-grey {
  color: #aaa;
}

.sign-decoration {
  font-size: 19px;
  padding: 8px;
}

.pr-5 {
  padding-right: 5px;
}

