.heading-decoration {
  font-size: 26px;
  color: #f42;
}

.link-decoration {
  text-decoration: none;
  float: right;
  margin-top: 30px;
  font-size: 14px;
}

.ul-decoration {
  text-decoration: none;
  padding: 0;
  text-align: center;
}

.red {
  color: #f42 !important;
}

.light-grey {
  color: #aaa !important;
}

.sign-decoration {
  font-size: 19px;
  padding: 8px;
}

.pr-5 {
  padding-right: 5px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-40 {
  margin-top: 40px !important;
}

.bckg-position-t {
  background-position: top;
}

.bckg-position-c {
  background-position: center;
}

.hide {
  display: none !important;
}

.line-through {
  text-decoration: line-through;
}

.display-ib {
  display: inline-block !important;
}

.rotate {
  transform: rotate(50deg);
}
